.FilterSide {
    background-color: gainsboro;
    height: 100vh;
}

.Reset {
    color: #1046b0;
    text-decoration: underline;
    float: right;
    margin-top: 1rem;
}

.filterName {
    font-weight: 800;
}

.SliderValue {
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    width: 40px;
    margin: -1rem;
}


