.FilterSide {
    background-color: gainsboro;
    height: 100vh;
}

.Reset {
    color: #1046b0;
    text-decoration: underline;
    float: right;
    margin-top: 1rem;
}

.filterName {
    font-weight: 800;
}

